/******************************************************/
/*           basic styling                            */
/*           1.Header                                 */
/*           2.Cover Section                          */
/*           3.Profile Section                        */
/******************************************************/


/******************************************************/
/* basic styling                                      */
/******************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comic;
}
.container{
    width: 80%;
    margin: 0 auto;
}


/******************************************************/
/* 1.Header Section                                   */
/******************************************************/
header{
    transition: 0.9s;
    /* border: 2px solid rebeccapurple; */
    padding: 15px 0;
    border: 2px #0000004e solid;
    border: 2px 0;
    box-shadow: 0 10px 15px -3px rgba(0,0,0, 0.1), 0 4px 6px -2px rgba(0,0,0, 0.05), 0 0 0 1px rgba(0,0,0, 0.1);;
}
.header-container{
    display: flex;
}
.logo-container{
    flex: 1;
    margin: 0 auto;
    text-align: center;
}
ul{
    flex: 2;
    text-align: center;
    /* padding: 5px 0; */
    display: flex;
    list-style-type: none;
    /* border: 2px solid gray; */
}
ul>li{
    flex:1;
    padding: 10px 0;
}
ul>li:hover{
    cursor: pointer;
    color: rgb(79, 70, 229);
    background: rgba(59, 73, 223, 0.1);
    border-radius: 10px;
    transition-duration: 500ms;
    text-decoration: underline;
}
.logo-boundary{
    border: 2px solid #000;
    background: #000;
    border-radius: 10%;
    display: block;
    width: 60px;
    height: 40px;
}
.logo-word{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-size: 15px;
}
.mode{
    flex: 0.5;
}
.toggle-mode-btn{
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 60px;
    border-radius: 20px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    margin: 0 50%;
}
.slider{
    position:absolute;
    cursor: pointer;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ccc;
    transform: 0.4s;
    border-radius: 30px;
}
.switch input{
    display: none;
}
.slider::before{
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    left: 2px;
    background-color:#000000b3;
    border-radius: 50%;
    transition: 0.4s;
}
input:checked + .slider{
    background-color: #ce7acc;
}
input:checked + .slider::before{
    transform: translateX(26px);
    transition:0.4s;
}
/******************************************************/
/* 1.b. Header dark mode styling                           */
/******************************************************/

.header-dark{
    transition: 0.9s;
    background: #000;
    color: aliceblue;
    box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.9), 0 4px 6px -2px rgba(255,255,255, 0.05), 0 0 0 1px rgba(255,255,255, 0.9);;
}
.header-dark .logo-boundary{
    border: 2px solid #fff;
}
.header-dark ul>li{
    color: rgb(181, 178, 235);
}
.header-dark ul>li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    background: rgb(79,70,229);
    border-radius: 10px;
    transition-duration: 500ms;
}

/******************************************************/
/* 2.Cover Section                                    */
/******************************************************/

.cover{
    /* border: 1px solid red; */
}

.cover-fill-top{
    height: 150px;
    background: rgb(190,195,198);
}
.cover-fill-bg{
    height: 1000px;
    background: rgb(245, 245, 245);
    transition: 0.9s;
}

/* cover section dark mode styling                   */
.cover-dark> .cover-fill-bg{
    background: #000;
    transition: 0.9s;
}

/******************************************************/
/* 3.Profile Section                                  */
/******************************************************/

.profile{
    position: absolute;
    top: 72px;
    /* background: rgba(0, 255, 255, 0.5);
    border: 1px solid blue; */
    height: 500px;
    width: 100vw;
}
.profile-container{
    /* background: rgba(249, 255, 127, 0.5); */
}
.profile-top-upper{
    /* background: rgba(255, 98, 0, 0.5);
    border: 1px solid red; */
    height: 20px;
}
.profile-top-lower{
    height: 50px;
    /* background: rgba(225, 0, 255, 0.5); */
    /* border: 1px solid green; */
}
.profile-img{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    z-index: 100;
}
.profile-img>img{
    height: 8rem;
    /* padding: 10px; */
    /* z-index: 10; */
}
.profile-top-end{
    background: #fff;
    border: 1px solid green;
    height: 100px;
    border-radius: 10px 10px 0 0;
}
.img-bg{
    position: relative;
    margin: 0 auto;
    height: 9em;
    width: 9em;
    background: rgb(190, 195, 198);
    border-radius: 50%;
    transform: translate(0%,-40%);
}