/******************************************************/
/* basic styling                                      */
/******************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: comic;
}
.container{
    width: 80%;
    margin: 0 auto;
}


/******************************************************/
/* Header light mode styling                           */
/******************************************************/
header{
    /* border: 2px solid rebeccapurple; */
    padding: 15px 0;
    border-bottom: 2px saddlebrown solid;
}
.header-container{
    display: flex;
}
.logo-container{
    flex: 1;
    margin: 0 auto;
    text-align: center;
}
ul{
    flex: 2;
    text-align: center;
    /* padding: 5px 0; */
    display: flex;
    list-style-type: none;
    /* border: 2px solid gray; */
}
ul>li{
    flex:1;
    padding: 10px 0;
}
ul>li:hover{
    cursor: pointer;
    color: rgb(79, 70, 229);
    background: rgba(59, 73, 223, 0.1);
    border-radius: 10px;
    transition-duration: 500ms;
    text-decoration: underline;
}
.logo-boundary{
    border: 2px solid #000;
    background: #000;
    border-radius: 10%;
    display: block;
    width: 60px;
    height: 40px;
}
.logo-word{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-size: 15px;
}
.mode{
    flex: 0.5;
}
.toggle-mode-btn{
    display: block;
    margin: 0 auto;
    height: 30px;
    width: 60px;
    border-radius: 20px;
}
/******************************************************/
/* Header dark mode styling                           */
/******************************************************/

.header-dark{
    background: #000;
    color: aliceblue;
}
.header-dark .logo-boundary{
    border: 2px solid #fff;
}
.header-dark ul>li{
    color: rgb(181, 178, 235);
}
.header-dark ul>li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #fff;
    background: rgb(79,70,229);
    border-radius: 10px;
    transition-duration: 500ms;
}